.titulo-nova-rota {
font-size: 80px;
    text-shadow: 5px 5px 15px rgba(96, 12, 198, 0.7);
    background: linear-gradient(90deg, #000, #9900ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold; 
    transition: 0.3s ease-in-out;
}


.titulo-nova-rota:hover {
    transform: scale(1.1); 
}

.BtVolt {
    font-size: 50px;
    text-shadow: 5px 5px 15px rgba(48, 33, 146, 0.7);
    background: linear-gradient(90deg, #000, #9900ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.text {
font-size: 40px;
text-shadow: 5px 5px 15px rgba(89, 0, 255, 0.7);
background: linear-gradient(90deg, #000, #9900ff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;


}

body {
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #9900ff 0%, #9900ff 10%, #000 50%);
}
